Repository shufo/blade-formatter, pull requests merged in 2020-07, with the labels that each got.

#95 feature/require-node-10
  .github/workflows/node.yml
  package.json
Labels: feature, github

#97 fix: 🐛 preserve original if attempting overwrite with nothing
  src/main.js
Labels: application, fix

#99 fix: 🐛 preserve embedded php tags in original content
  __tests__/formatter.test.js
  src/formatter.js
  src/util.js
Labels: application, fix, test

#106 Support `@for` directive
  __tests__/cli.test.js
  __tests__/fixtures/commented.blade.php
  __tests__/fixtures/formatted.commented.blade.php
  __tests__/formatter.test.js
  package.json
  src/formatter.js
  src/util.js
  yarn.lock
Labels: application, test

#107 fix: 🐛 do not remove original php tag
  __tests__/formatter.test.js
  src/util.js
Labels: application, fix, test

#111 fix: 🐛 unexpectedly remove tags after blade close expression
  __tests__/formatter.test.js
  src/util.js
Labels: application, bug, fix, test

#114 fix: 🐛 regex to match balanced parentheses
  __tests__/formatter.test.js
  src/util.js
Labels: application, bug, fix, test

#115 fix: 🐛 ignore forelse directive for formatting
  __tests__/formatter.test.js
  src/util.js
Labels: application, bug, fix, test

#112 chore: Remove unnecessary comma in README
  README.md
Labels: documentation
